.card_btn {
    margin-top: auto;
    text-decoration: none;
    background-color: #fff;
    color: #3665f3;
    border: 1px solid #3665f3;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}